h1{
    font-family: 'Permanent Marker';
    text-align: center;
}
h3{
    font-family: 'Oswald';
    text-align: left;
}
h3.hidden{
    visibility: hidden;
}
h3.visible{
    visibility: visible;
}
button.hidden{
    visibility: hidden;
}

ul {
    list-style-type: none;
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
}
img{
    padding-top: 10px;
    padding-bottom: 0px;
}
input{
    font-family: 'Oswald' !important;
}
select{
    font-family: 'Oswald';
}
button{
    font-family: 'Oswald';
}
.input-group-field:hover{
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    border: 3px solid lightgreen;
}
select:hover{
   transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    border: 3px solid lightgreen; 
}

.dino-fact{
    padding: 0;
    float:left;
    width:40%;
    text-align: center;
    height: 100%;
    background-color: whitesmoke;
}

.warning.button{
    color: white !important;
    background-color: gray !important;
}
.warning.button:hover{
    background-color: gold !important;
}
.warning.button.select{
    background-color: gold !important;
    color: black !important;
}

.input-group-label{
    width: 50%;
    background:lightgray;
}
.input-group-label:hover{
    transition: all 0.30s ease-in-out;
    background:silver;
}

.star{
    background: gold;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.search{
    width: 50%;
}

#SearchH3{
    float: left;
}
#searchButton{
    background-color: orange !important;
}
#searchButton:hover{
    transition: all 0.30s ease-in;
    background-color: orangered !important;
}



