h1{
    font-family: 'Permanent Marker';
}

ul {
    list-style-type: none;
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
}

.warning.button{
    color: white !important;
    background-color: gray !important;
}
.warning.button:hover{
    background-color: gold !important;
}
.warning.button.select{
    background-color: gold !important;
    color: black !important;
}

.input-group-label{
    width: 50%;
    background:lightgray;
}

.star{
    background: gold;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


